.carousel-caption h1{
    font-size: 65px;
}
@media only screen and (max-width:1500px) {
    .carousel-caption {
        padding-bottom: 8%;
    }
}
@media only screen and (max-width:1199px) {
    .carousel-caption h2 {
        font-size: 32px;
    }
    .carousel-caption p {
        font-size: 18px;
    }
    .courses img {
        width: 200px;
        height: 224px;
    }
}
@media only screen and (max-width:991px) {
    .carousel-caption p {
        font-size: 18px;
    }    
}
@media only screen and (max-width:575px) {
    .carousel-caption h2 {
        font-size: 10px;
    }
    .carousel-caption p {
        font-size: 8px;
    }
    .carousel-caption {
        bottom: 0;
    }
    .courses img {
        width: 364px;
        height: 200px;
    }
}